mixin mod(parId, c, textHead, textBody)
  div(class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 trans mod")
    -var txthead = (c && c[textHead]) ? c[textHead] : ""
    -var txtbody = (c && c[textBody]) ? c[textBody] : ""
    h2!= txthead
    p(id!=parId)!= txtbody
    p
      a(class="btn btn-default",href="#") More &raquo;

mixin meta_og(obj)
  if (obj && obj.property && obj.content)
    meta(property=obj.property, content=obj.content)

mixin meta_twitter(obj)
  if (obj && obj.property && obj.content)
    meta(property=obj.property, content=obj.content)

mixin meta(obj)
  if (obj && obj.name && obj.content)
    meta(name=obj.name, content=obj.content)

mixin rich_text(obj)
  if (obj.content)
    != obj.content

mixin youtube_video(obj)
  .video-container
    iframe(src='https://www.youtube.com/embed/'+obj.id)

mixin vimeo_video(obj)
  .video-container
    iframe(src="https://player.vimeo.com/video/"+obj.id,webkitallowfullscreen,mozallowfullscreen,allowfullscreen)

mixin mp4_video(obj)
  .video-container
    video(id="mp4-player",poster=obj.image,loop="loop",controls="controls",preload="auto",class="video-js vjs-default-skin vjs-big-play-centered")
      source(src=obj.url, type="video/mp4")

mixin image(obj)
  image(src=obj.image,class="story-image")

mixin alert(obj)
  .alert.alert-dismissible(role='alert', class="alert-"+obj.subtype)
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
    != obj.content

mixin audio_player(obj)
  .media.audio-player
    .media-left
      audio(src=obj.url,poster=(obj.cover||config.defaultImage),class="album-cover video-js vjs-default-skin",controls="controls",preload="auto",data-setup='{}')
    .media-body
      h4.media-heading!=obj.title

mixin map(obj)
  div(id=obj.divId,class="map-widget",data-map-id=obj.mapId)

mixin fb_api(appId)
  - if (appId) {
    #fb-root
    script.
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=!{appId}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  - }

mixin gtm_head(containerId)
  - if (containerId) {
    // Google Tag Manager
    script.
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '!{containerId}');
    // End Google Tag Manager
  - }

mixin gtm_body(containerId)
  - if (containerId) {
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=!{containerId}', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
  - }

mixin fb_comments(pageUrl, num)
  - if (pageUrl) {
    .fb-comments(data-href=pageUrl, data-width="100%", data-numposts=num)
  - }

mixin fb_share(pageUrl)
  .fb-share-button(data-href='!{pageUrl}', data-layout='button_count', data-size='large', data-mobile-iframe='true')
    a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=!{pageUrl}&src=sdkpreparse') Share

mixin fb_like(pageUrl)
  .fb-like(data-href='!{pageUrl}', data-layout='button_count', data-action='like', data-size='large', data-show-faces='true', data-share='true')
