mixin mod(parId, c, textHead, textBody)
  div(class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 trans mod")
    -var txthead = (c && c[textHead]) ? c[textHead] : ""
    -var txtbody = (c && c[textBody]) ? c[textBody] : ""
    h2!= txthead
    p(id!=parId)!= txtbody
    p
      a(class="btn btn-default",href="#") More &raquo;

mixin meta_og(obj)
  if (obj && obj.property && obj.content)
    meta(property=obj.property, content=obj.content)

mixin meta_twitter(obj)
  if (obj && obj.property && obj.content)
    meta(property=obj.property, content=obj.content)

mixin meta(obj)
  if (obj && obj.name && obj.content)
    meta(name=obj.name, content=obj.content)

mixin rich_text(obj)
  if (obj.content)
    != obj.content

mixin youtube_video(obj)
  .video-container
    iframe(src='https://www.youtube.com/embed/'+obj.id)

mixin vimeo_video(obj)
  .video-container
    iframe(src="https://player.vimeo.com/video/"+obj.id,webkitallowfullscreen,mozallowfullscreen,allowfullscreen)

mixin image(obj)
  image(src=obj.image,class="story-image")

mixin alert(obj)
  .alert.alert-dismissible(role='alert', class="alert-"+obj.subtype)
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
    != obj.content

mixin audio_player(obj)
  .media.audio-player
    .media-left
      audio(src=obj.url,poster=(obj.cover||config.defaultImage),class="album-cover video-js vjs-default-skin",controls="controls",preload="auto",data-setup='{}')
    .media-body
      h4.media-heading!=obj.title