div.container
  div.row.hero-unit
    h1 Kyo Suayan: Design + Development
    p
      | Nineteen years of web application development experience (Waterfall &amp; Agile)
      | with various technology stacks. Strong visual design sense complimented by
      | good understanding of Accessibility,
      | Usability and Branding issues in a high traffic website.
      | Motivated by technical challenges and enjoys contributing in a team environment.

  div.row.multicol
    div(class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 trans mod")
      h2=content.leftHeader
      p(id="leftBody")!=content.leftBody
      p
        a(class="btn btn-default",href="#") More &raquo;
    div(class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 trans mod")
      h2=content.centerHeader
      p(id="centerBody")!=content.centerBody
      p
        a(class="btn btn-default",href="#") More &raquo;
    div(class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 trans mod")
      h2=content.rightHeader
      p(id="rightBody")!=content.rightBody
      p
        a(class="btn btn-default",href="#") More &raquo;

  div.row
    div#twitter(class="col-lg-4")
      h2 @ksuayan on Twitter
    div#vimeo(class="col-lg-8")
      h2 Vimeo