<div class="media">
    <div class="caption twitter">
        <span class="label label-primary">Twitter</span>
        <span class="when">{{ago}}</span>
        <a href="http://twitter.com/{{user}}" class="handle">@{{user}}</a>
        <h2>{{body}}</h2>
        {{#if permalink}}<a href="{{permalink}}" class="permalink" target="_blank">{{permalink}}</a>{{/if}}
    </div>
</div>